.glossaryCompenont{
    font-size: 40px;
    width: 15em;
    margin: auto auto;
    margin-top: 20px;
    text-align: center;
    box-shadow: 0 1px 5px gray;
    .en{
        font-size: 40px;
        line-height: 3.5em;
        background-color: #FFC42F;
    }
    .zh{
        font-size: 30px;
        line-height: 3em;
        width: 100%;
    }
}