page{
    background-color: #eeeeee;
}
.loginBtn{
    width: 200px;
    height: 200px;
    border-radius: 100px;
    background: rgb(240, 178, 8);
    margin: 400px auto;
    padding-top: 46px;
    color: white;
    font-weight: bold;
    font-size: 46px;
    letter-spacing: 6px;
}