@font-face{
  font-family: "icon";
  font-weight: normal;
  font-style: normal;
  src:url("../../static/font/headBtn.ttf")format('truetype')
}

.index{
  flex-direction: column;
  width: 100%;
  height: 100%;
  .header-nav{
    display: flex;
    justify-content:space-between;
    width: 100%;
     .text , .next{ 
      line-height: 2em;
      margin-left: 30px;
      width: 150px ;
    }
    .next{
      margin-left: 0;
      margin-right: 30px;
    }

  }
}

.wrapper{
  display: flex;
  justify-content: flex-end;
  width: 100%;
  position: absolute;
  bottom: 50px;
  .detail-btn{
    font-size: 25px;
    line-height: 4em;
    text-align: center;
    margin-right: 50px;
  }
}

.at-button{
  border: 2px solid #FFC42F;
  background-color:#FFC42F ;
  .right , .left{
    font-family: 'icon';
    color:#fff;
    &::after{
      display: block;
      font-size: 40px;
      content: "\e667";
    }
}
.left{
  &::after{
    content: "\e664";
  }
}
}

