.detail-con{
    width: 100%;
    padding:2rem 1rem;
    background-color: white;
    border-radius: 16px 16px;
    .en{
        width: 100%;
        font-size: 80px;
        line-height: 1.5em;
    }
    .zh{
        font-size: 50px;
        line-height: 1.5em;
    }
}
page{
    background-color: #eeeeee;
  }